body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #94d4ff;
    background-image: url(img.jpg);
    background-size: cover;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background-color: #fff;
    padding: 18px;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    display: inline;
    padding: 12px;
    list-style-type: none;
}

nav li a{
    text-decoration: none;
    color: #000;
    font-family: fantasy;
    font-size: 1.3rem;
}

header h1{
    margin: 0;
}

.head{
    float: left;
}

nav{
    float: right;
    margin-top: 5px;
}

showcase h2{
    text-align: center;
    color: #fff;
    font-size: 2.7rem;
    margin-top: 13%;
}

showcase p{
    text-align: center;
    color: #fff;
    font-family: cursive;
    font-size: 1.5rem;
}

.btn1{
    margin-left: 35%;
    padding: 0.7rem;
    color: #fff;
    background-color: #4267B2;
    border: none;
    border-radius: 1.2rem;
    margin-top: 2%;
}


.btn2{
    padding: 0.7rem;
    color: #fff;
    background-color: transparent;
    width: auto;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 1.2rem;
}


footer{
    background-color: #fff;
    padding: 0.7rem;
    margin-top: 10%;
    font-family: cursive;
}

.lefty{
    float: left;
    width: 20%;
}

.righty{
    float: right;
    width: 80%;
    margin-top: 2%;
}

.righty input{
    margin-left: 0.3rem;
    margin-right: 2rem;
    font-size: 1rem;
    width: 250px;
}

.btn3{
    padding: 7px 12px;
    color: #fff;
    background-color: #02806b;
    border: none;
    margin-left: 2%;
    text-decoration: none;
    font-family: sans-serif;

}
